@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor0:#37160D;
    --cor1:#843D1E;
    --cor2:#CF6363;
    --cor3:#FADF00;
    --cor4:wheat;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url(../imagens/fundo-choco2.jpg);
    background-size: contain;
    background-attachment: fixed;
}

header {
    display: block;
    margin: auto;
    background-color: var(--cor0);
    height: 100px;
    width: 500px;
  
}

header h1 {
    text-align: center;
    color: var(--cor4);
    padding-top: 30px;
}

main section h2 {
    font-size: 2em;
    padding: 13px;
    text-align: center;
    
}

section#sabores {
    margin: auto;
    background-color: var(--cor4);
    height: 400px;
    width: 300px;
}

section#biografia {
    margin: 0 auto 0 auto;
    width: 500px;
    background-color: var(--cor1);
    height: 444px;
}

footer {
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
    width: 500px;
}