@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:cursive;
}

:root {
    --cor0:#37160D;
    --cor1:#843D1E;
    --cor2:#CF6363;
    --cor3:#FADF00;
    --cor4:wheat;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url(../imagens/fundo-choco2.jpg);
    background-size: contain;
    background-attachment: fixed;
}

header {
    display: block;
    margin: auto;
    background-color: var(--cor0);
    height: 90px;
    width: 500px;
  
}

header h1 {
    font-size: 2.6em;
    text-align: center;
    color: var(--cor4);
    padding-top: 10px;
}

section#sabores {
    margin: auto;
    background-color: var(--cor4);
    height: 500px;
    width: 300px;
}

section#sabores > h2 {
    font-size: 2em;
    padding: 20px;
    text-align: center;
}

section#sabores > img {
    display: block;
    margin: auto;
    width: 120px;
}

section#biografia {
    margin: auto;
    width: 500px;
    background-color: var(--cor1);
    height: 344px;
}

section#biografia > article {
    display: inline-block;
    padding: 10px;
    background-color: white;
    width: 50%;
    height: 60%;
}

section#biografia > div.imagem {
    display: inline-block;
    background-color: gray;
    width: 39%;
    height: 80%;
    padding: 10px;
}

footer {
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
    width: 500px;
}